@(title: String, submissions: List[Submission])

@main(title) {
    <h1 style="padding-left: 20px">@title</h1>
    <div class="panel panel-body">
        <table id="tableID" class="table table-bordered">
            <thread>
                <tr>
                    <th>Time</th>
                    <th>Submission ID</th>
                    <th>Problem ID</th>
                    <th>User</th>
                    <th>Status</th>
                </tr>
            </thread>

            <tbody>
            @for(submission <- submissions) {
                <tr class="active">
                    <td>@submission.getDate</td>
                    @if(submission.getUser.getId.compareTo(session().get("handle")) == 0) {
                        <td><a href="@routes.SubmissionsController.viewSubmissionCode(submission.getUser.getId, submission.getProblem.getId, submission.getSubmissionID)">@submission.getSubmissionID</a></td>
                    } else {
                        <td>@submission.getSubmissionID</td>
                    }
                    <td><a href="@routes.ProblemsController.viewSelectedProblem(submission.getProblem.getId)">@submission.getProblem.getId</a></td>
                    <td><a href="#">@submission.getUser.getId</a></td>
                    @if(submission.getStatus.toString.compareTo("AC") == 0) {
                        <td style="color: #01DF01">@submission.getStatus</td>
                    }
                    @if(submission.getStatus.toString.compareTo("WA") == 0) {
                        <td style="color: red">@submission.getStatus</td>
                    }
                    @if(submission.getStatus.toString.compareTo("TLE") == 0) {
                        <td style="color: darkslategrey">@submission.getStatus</td>
                    }
                    @if(submission.getStatus.toString.compareTo("RE") == 0) {
                        <td style="color: #000000">@submission.getStatus</td>
                    }
                    @if(submission.getStatus.toString.compareTo("CE") == 0) {
                        <td style="color: #d58512">@submission.getStatus</td>
                    }
                    @if(submission.getStatus.toString.compareTo("UE") == 0) {
                        <td style="color: indigo">@submission.getStatus</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
}